[Desktop Entry]
Name=xpired
Comment=X-pired action-puzzle game
Comment[pl]=X-pired - gra zręcznościowo-logiczna
Icon=xpired.png
Exec=xpired
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
